.card-header {
    background-color: #f5cac3;
    display: flex;
    justify-content: space-between;
}

.card-subtitle {
    font-size: 1.2rem;
}

.button-pagination {
    background-color: #c9184a;
    color: #ffffff; 
}

.button-pagination:hover {
    background-color: #a4133c;
}

.card-body{
    display: flex;
}

img {
    padding-right: 15px;
}