.error {
  background-color: #ff8a8a;
}

.card-header {
  background-color: #f5cac3;
  display: flex;
  justify-content: space-between;
}

.card-subtitle {
  font-size: 1.2rem;
}

.edit-button {
  align-items: baseline;
}

.comment {
  width: 60%;
}

img {
  padding-right: 15px;
}
